// 
// ==================================================/
%anicss_animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@mixin anicss_animated($duration: 1) {
  animation-duration: $duration + s;
  animation-fill-mode: both;
}

%anicss_animated--infinite {
  animation-iteration-count: infinite;
}

// attseek
// ==================================================/

// bounce
// ==================================================/
@mixin anicss_bounce {
  @keyframes bounce {
    from, 20%, 53%, 80%, to {
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      transform: translate3d(0,0,0);
    }
    40%, 43% {
      animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transform: translate3d(0, -30px, 0);
    }
    70% {
      animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transform: translate3d(0, -15px, 0);
    }
    90% {
      transform: translate3d(0,-4px,0);
    }
  }
}

%anicss_bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

// flash
// ==================================================/
@mixin anicss_flash {
  @keyframes flash {
    from, 50%, to {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0;
    }
  }
}

%anicss_flash {
  animation-name: flash;
}

// jello
// ==================================================/
@mixin anicss_jello {
  @keyframes jello {
    from, 11.1%, to {
      transform: none
    }
    22.2% {
      transform: skewX(-12.5deg) skewY(-12.5deg)
    }
    33.3% {
      transform: skewX(6.25deg) skewY(6.25deg)
    }
    44.4% {
      transform: skewX(-3.125deg) skewY(-3.125deg)
    }
    55.5% {
      transform: skewX(1.5625deg) skewY(1.5625deg)
    }
    66.6% {
      transform: skewX(-0.78125deg) skewY(-0.78125deg)
    }
    77.7% {
      transform: skewX(0.390625deg) skewY(0.390625deg)
    }
    88.8% {
      transform: skewX(-0.1953125deg) skewY(-0.1953125deg)
    }
  }
}

%anicss_jello {
  animation-name: jello;
  transform-origin: center
}

